@model Department

<form asp-controller="Departments" asp-action="@ViewBag.Action" method="post">
    @if (ViewBag.Action == "edit")
    {
        <input asp-for="Id"/>
    }
    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label" asp-for="Name"></label>
        </div>
        <div class="col-6">
            <input class="form-control" asp-for="Name"/>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label" asp-for="Description"></label>
        </div>
        <div class="col-6">
            <input class="form-control" asp-for="Description"/>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label" asp-for="Email"></label>
        </div>
        <div class="col-6">
            <input class="form-control" asp-for="Email"/>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-controller="Departments" asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
        <div class="col-6">
            @if (ViewBag.Action == "edit")
            {
                <a asp-page="/employees/departmentemployees"
                   asp-route-departmentId="@Model.Id"
                   class="btn btn-link">Check Employees</a>
            }
        </div>
    </div>
</form>
<br>
