@using DepartsCrud.Models
@model List<Department>

@{
    Layout = "_Layout";
}


<h1>Department</h1>
@if (Model is not null && Model.Count > 0)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Name</td>
                <td>@department.Description</td>
                <td><a href="/departments/details/@department.Id" class="btn btn-link">Edit</a>
                    <form method="post" action="/departments/delete/@department.Id" style="display: inline-block">
                        <button type="submit" class="btn btn-link">Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
<br/>
<a href="/departments/create" class="btn btn-primary">Add</a>
