
@{
    Layout = "_Layout";
    ViewBag.Title = "Departments";
}


@await Html.PartialAsync("_SearchBar")

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @await Component.InvokeAsync("DepartmentList")
    </tbody>
</table>

<br/>
<a href="/departments/create" class="btn btn-primary">Add</a>

@* <script> *@
@*     document.querySelector("#search-button").addEventListener("click", async (e) => { *@
@*         var filter = document.querySelector("#search-filter").value.trim(); *@
@*         var response = await fetch(`/department-list/${filter}`); *@
@*         var departmentsHTML = await response.text(); *@
@*         document.querySelector("#department-list").innerHTML = departmentsHTML; *@
@*     }) *@
@* </script> *@