<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    Header Bar
</div>
<div>
    @RenderSection("messagebar", required: false)
</div>
<br>
<div>
    @RenderBody()
</div>
</body>
</html>