@page "{departmentId:int}"
@model DepartsCrud.Pages.Employees.DepartmentEmployees

@section title_section
{
    <h3>Employees of Departmetn: @Model.DepartmentName</h3>
}
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Position
        </th>
        <th>Salary</th>
        <th>Department</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="employee-list">
    @* @await Component.InvokeAsync("EmployeeList", new {filter = "", departmentId = Model.DepartmentId})  *@
    <vc:employee-list filter="" department-id="@Model.DepartmentId"></vc:employee-list>
    </tbody>
</table>
