@page
@model DepartsCrud.Pages.Employees.Index


@section title_section
{

    <h3>Employees</h3>
}


@{
    Layout = "_Layout";
    ViewBag.Title = "Departments";
}


@await Html.PartialAsync("_SearchBar")

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Position
        </th>
        <th>Salary</th>
        <th>Department</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="employee-list">
    
    </tbody>
</table>

<br/>
<a href="/employees/create" class="btn btn-primary">Add</a>

@section scripts{
    <script>
        loadEmployees('');

        document.querySelector("#search-button").addEventListener("click", async (e) => {
            var filter = document.querySelector("#search-filter").value.trim();
            await loadEmployees(filter);
        });

        async function loadEmployees(filter) {
            var response = await fetch(`/employees?filter=${filter}&handler=SearchEmployeeResult`);
            var html = await response.text();
            document.querySelector("#employee-list").innerHTML = html;
        }
    </script>

}