@{
    ViewBag.Title = "Home Page";
    var days = (new DateTime(DateTime.Today.Year, 12, 25) - DateTime.Today).Days;
    var color = days <= 10 ? "green" : "red";
}

@* <img src="images/Person_2.jpg" asp-append-version="true" /> *@

@if (true)
{
    @:Happy holidays
}

@switch (color)
{
    case "green":
    {
        <h1 style="color:@color">Hello</h1>
    }
        break;
    case "red":
    {
        <h1 style="color:@color">Bye</h1>
    }
        break;
}

@days <text> days before Christmas</text>

