<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
</head>
<body>
@{
    var days = (new DateTime(DateTime.Today.Year, 12, 25) - DateTime.Today).Days;
    string color = days <= 10 ? "green" : "red";
}

@switch (color)
{
    case "green":
    {
        <h1 style="color:@color">Hello</h1>
    }
        break;
    case "red":
    {
        <h1 style="color:@color">Bye</h1>
    }
        break;
}


@* @if (days <= 10) *@
@* { *@
@*      *@
@*     <h1>Christmas is around the corner</h1> *@
@* } *@
@* else *@
@* { *@
@*     <h1>Welcome to department managment.</h1> *@
@* } *@
</body>
</html>

